<div class="jumbotron mt-4">
    <h1 class="display-4">Pagina de Inicio</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo, quae quo. Similique earum ad qui magni, laboriosam voluptates deleniti, cum doloribus veritatis</p>
    <hr class="my-4">y
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea assumenda, velit sit voluptatum alias quos!</p>
    <a href="https://www.google.com" class="btn btn-primary">Google</a>
</div>